<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br />
    <br />
    <div class="location-index-header">
      <h1>YO ALBUM BRUH</h1>
    </div>
    <br />
    <br />
    <br />
    <div class="row small-up-1 medium-up-3 large-up-3">
      <% @liked_photos.each do |photo_relation| %>
        <div class="column">
          <a href="<%=photo_relation.photo.link%>"><img src="<%=photo_relation.photo.low_res_link%>" class="thumbnail"></a>
          <%= button_to "Remove", user_photo_path(:id => photo_relation.id), :method => :delete %>

        </div>
      <% end %>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


  </body>
</html>
