<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<% if !@current_search.empty? %>
  <% @current_search.each do |location| %>
    <li> <%= link_to location.first.name, location_path(location.first) %> </li>
  <% end %>
<% end %>
