<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">what's goin' on disweek?</p>
      <p class="links">
        <a href="<%=root_path%>">Home</a>
        <a href="#">About</a>
        <a href="https://github.com/ek0ms/disweek">GH Repo</a>
        <a href="https://github.com/ek0ms">Contact</a>
      </p>
      <p class="copywrite">JZ © 2016</p>
    </div>
  </div>
</footer>
