<header class="hero">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="row box small-12 columns">
    <div class="container-4" style="margin: 0 auto" align=center>
      <form class="form-inline" action="/locations" accept-charset="UTF-8" method="get" _lpchecked="1">
        <input name="utf8" type="hidden" value="✓">
        <input type="text" name="search" id="search" placeholder="ex. 31 Spooner Street, Quahog, RI">
        <button name="button" type="submit" class="icon"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</header>
